from typing import Optional, Union

from pydantic import BaseModel

{% for import_type in import_types -%}
from .types import {{ import_type }}
{% endfor %}


class {{ title }}(BaseModel):
    """
    {{ description }}
    """
    {% for argument in arguments -%}
    # {{ argument.description }}
    {% if argument.required -%}
    {{ argument.name }}: {{ argument.argument_type }}
    {% else -%}
    {{ argument.name }}: Optional[{{ argument.argument_type }}] = None
    {% endif %}
    {% endfor %}
